.buttons {
  border: 1px solid;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
}

.buttons:hover {
  border-color: grey;
  background-color: #eee;
}

.table-simple th {
  border-collapse: collapse;
  border: 1px solid silver;
  padding: 5px;
  text-align: center;
}

.table-simple {
  border-collapse: collapse;
  border: 1px solid silver;
  margin: auto;
}

.table-simple td {
  border-collapse: collapse;
  border: 1px solid silver;
  padding: 5px;
  text-align: left;
}

.table-simple tr:nth-child(odd) td {
  background-color: #eee;
}

.table-simple tr:nth-child(even) td {
  background-color: #fff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}